In [1]:
import numpy
import pickle
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
pipe = pickle.load(open('pipe.pkl','rb'))

In [3]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [4]:
df=pd.read_csv('final_dataset_after_pipelining.csv')

In [5]:
x=df.drop(columns=['COPD_Diagnosis'])
y=df['COPD_Diagnosis']

In [6]:
x.shape

(1000, 10)

In [7]:
X_transformed = pipe.transform(x)

In [8]:
X_transformed.shape

(1000, 19)

In [9]:
x.head()

,Smoking_Status,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,Location,Respiratory_Infections_Childhood,Age_Category,BMI_category,Air_Pollution_Level_category,Gender_encoded
0,Former,1,1,1,Lalitpur,0,adult,overweight,Satisfactory,1
1,Never,1,0,0,Pokhara,1,old,obese,Moderate,1
2,Former,0,0,1,Pokhara,1,adult,overweight,Moderate,1
3,Current,1,0,0,Kathmandu,0,adult,overweight,Poor,0
4,Never,0,0,0,Pokhara,1,middle_aged,overweight,Moderate,1

In [10]:
x.tail()

,Smoking_Status,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,Location,Respiratory_Infections_Childhood,Age_Category,BMI_category,Air_Pollution_Level_category,Gender_encoded
995,Current,1,1,1,Bhaktapur,0,old,normal,Moderate,1
996,Never,0,1,0,Bhaktapur,0,middle_aged,overweight,Moderate,1
997,Current,0,0,1,Butwal,1,adult,obese,Moderate,0
998,Former,0,1,1,Kathmandu,0,too_old,normal,Poor,0
999,Former,0,0,0,Kathmandu,0,adult,overweight,Moderate,0

In [11]:
X_transformed[0:7]

array([[1., 1., 2., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 1.,
        1., 0., 1.],
       [0., 3., 3., 2., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0.,
        0., 1., 1.],
       [1., 1., 2., 2., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
        1., 1., 1.],
       [2., 1., 2., 3., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0.,
        0., 0., 0.],
       [0., 2., 2., 2., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
        0., 1., 1.],
       [2., 3., 2., 3., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1.,
        0., 0., 0.],
       [2., 3., 2., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 1., 0.]])

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X_transformed,y,test_size=0.3,random_state=42)

In [18]:
# Function to train, evaluate, and save models
def train_evaluate_save(model, model_name):
    # Train the model
    model.fit(X_train, y_train)
    
    # Make predictions
    y_pred = model.predict(X_test)
    
    # Print evaluation metrics
    print(f"Results for {model_name}:")
    print(f"Accuracy: {accuracy_score(y_test, y_pred):.7f}")
    print("Classification Report:")
    print(classification_report(y_test, y_pred))

In [19]:
# Decision Tree
decision_tree = DecisionTreeClassifier(random_state=42)
train_evaluate_save(decision_tree, "decision_tree")

Results for decision_tree:
Accuracy: 1.0000
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       204
           1       1.00      1.00      1.00        96

    accuracy                           1.00       300
   macro avg       1.00      1.00      1.00       300
weighted avg       1.00      1.00      1.00       300

In [20]:
# Random Forest
random_forest = RandomForestClassifier(random_state=42)
train_evaluate_save(random_forest, "Random_Forest")

# Logistic Regression
logistic_regression = LogisticRegression(random_state=42, max_iter=1000)
train_evaluate_save(logistic_regression, "Logistic_Regression")

Results for Random_Forest:
Accuracy: 0.9967
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       204
           1       1.00      0.99      0.99        96

    accuracy                           1.00       300
   macro avg       1.00      0.99      1.00       300
weighted avg       1.00      1.00      1.00       300

Results for Logistic_Regression:
Accuracy: 0.9367
Classification Report:
              precision    recall  f1-score   support

           0       0.97      0.94      0.95       204
           1       0.87      0.94      0.90        96

    accuracy                           0.94       300
   macro avg       0.92      0.94      0.93       300
weighted avg       0.94      0.94      0.94       300

In [16]:
 # Save the trained model as a pickle file
    model_filename = f'{model_name}_model.pkl'
    with open(model_filename, 'wb') as file:
        pickle.dump(model, file)
    print(f"{model_name} saved as {model_filename}\n")

IndentationError: unexpected indent (929530622.py, line 2)